@font-face {
    font-family: 'D2Coding';
    font-style: normal;
    font-weight: 400;
    src: url('D2Coding.woff2') format('x-woff2'),
         url('D2Coding.woff') format('woff'),
}

@font-face {
    font-family: 'D2Coding';
    font-style: normal;
    font-weight: 700;
    src: url('D2CodingBold.woff2') format('x-woff2'),
            url('D2CodingBold.woff') format('woff'),
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'D2Coding';
    /* transform : rotate(0.04deg); */
}

div {
    box-sizing:border-box;
}

:root {
    --color-blossom: rgba(255, 192, 203, 0.5);
    --color-dark-blossom: rgba(224, 198, 205, 1);
    --color-transparent: rgba(0, 0, 0, 0.0);
}

.container {
    width: 60%;
    margin: 0 auto 0 auto;
}
.float__left {
    float:left;
}
.float__right {
    float:right;
}
.width__var {
    width:var(--w);
}
.center__margin {
    margin:0 auto;
}

/* Greetinig */
.greeting__background{
    /* image size */
    width:100%;
    height: 1500px;
    position: relative;
    background-image : linear-gradient(var(--color-blossom) 0%, var(--color-transparent) 30%, var(--color-transparent) 90%, var(--color-blossom) 100%) , url(../../assets/images/greeting/greeting_normal.jpg);
    /* basic setting for background-image */
    background-size : cover;
    background-repeat : no-repeat;
    background-position : top;
}

.greeting__title, .icon__call {
    width:100%;
    animation:titleEvent 1s ease 1;
}

.greeting__message>.greeting__title:active, .icon__call:active,
.husband__account:active, .wife__account:active,
.account__copy:active, .message__btn--save:active,
.message__btn--more:active {
    transform: rotate(5deg);
}

.greeting__message>.greeting__title:visited, .icon__call:visited,
.husband__account:visited, .wife__account:visited,
.account__copy:visited, .message__btn--save:visited,
.message__btn--more:visited {
    transform: rotate(0deg);
}

.greeting__name{
    text-align: center;
    color: rgba(255, 255, 255, 0.952);
    font-size: 3vw;
    font-weight:600;
    text-shadow:2px 2px 2px grey;
    /* centering */
    left : 0;
    right : 0; 
    margin: none auto none auto;
}

.greeting__subtitle{
    position: absolute;
    bottom: 2%;
    /* centering */
    left : 0;
    right : 0; 
    margin: none auto none auto;
}

.greeting__tag{
    position : absolute;
    width:17%;
}
.greeting__tag--click {
    right : 10%;
    top: 5%;
    --deg: -8deg;
    --shakeX: 5px;
    animation: darklight_click 5s infinite ease;
}
.greeting__tag--9year{
    left : 13%;
    top: 23%;
    --deg: -8deg;
    --shakeX: 5px;
    animation: shake 4s infinite;
}

.greeting__tag--start{
    left : 35%;
    top: 21%;
    --deg: 10deg;
    --shakeX: -5px;
    animation: shake 4s infinite;
}

.greeting__tag--spring{
    right : 25%;
    top: 20%;
    --deg: -8deg;
    --shakeX: 5px;
    animation: shake 4s infinite;
}

.greeting__tag--blossom{
    right : 13%;
    top: 27%;
    --deg: 8deg;
    --shakeX: -8px;
    animation: shake 4s infinite;
}

.greeting__arrow1, .greeting__arrow2 {
    margin-left : auto;
    margin-right : auto;
    left:0;
    right: 0;
    bottom: 18%;
}

.greeting__arrow1 {
    animation: darklight_arrow1 1.3s infinite;
}

.greeting__arrow2 {
    bottom: 15%;
    animation: darklight_arrow2 1.3s infinite;
}

@keyframes darklight_click{
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    5%{
        transform: translateY(25px);
    }
    25% {
        transform: translateY(0px);
        opacity: 1;
    }
    35%{
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes darklight_arrow1{
    0% {
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes darklight_arrow2{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake{
    0% {
        transform: rotate(var(--deg, 0deg)) translateX(calc(-1*var(--shakeX, 5px)));
    }
    25% {
        transform: rotate(var(--deg, 0deg)) translateX(calc(1*var(--shakeX, 5px)));
    }
    50% {
        transform: rotate(var(--deg, 0deg)) translateX(calc(-1*var(--shakeX, 5px)));
    }
    75% {
        transform: rotate(var(--deg, 0deg)) translateX(calc(1*var(--shakeX, 5px)));
    }
    100% {
        transform: rotate(var(--deg, 0deg)) translateX(calc(-1*var(--shakeX, 5px)));
    }
}

@keyframes rotate{
    0% {
        transform: rotate(calc(-1*var(--deg, 5deg)));
    }
    25% {
        transform: rotate(calc(1*var(--deg, 5deg)));
    }
    50% {
        transform: rotate(calc(-1*var(--deg, 5deg)));
    }
    75% {
        transform: rotate(calc(1*var(--deg, 5deg)));
    }
    100% {
        transform: rotate(calc(-1*var(--deg, 5deg)));
    }
}
/* scroll event*/
.page__title, .contact__husband,
.contact__wife, .contact__parents,
.gallery__background, .location__site--map,
.location__map, .location__transport, .mycards {
    transform: translateY(50px);
    opacity: 0;
    transition: all ease 1s;
}

.contact__husband, .contact__wife, .contact__parents, .gallery__background {
    transition: all ease 3s;
}

.gallery__background {
    transform: translateY(200px);
}

.greeting__subtitle, .account__background, .message__box {
    transform:translateY(-50px);
    opacity: 0;
    transition: all ease 2s;
}

.invitation__message, .invitation__calendar{
    transform:translateY(-100px);
    opacity: 0;
    transition: all ease 2s;
}

.page__title--blossom {
    --deg:15deg;
    animation:rotate 5s ease-in-out infinite;
}

@keyframes titleEvent{
    0% {
        transform: translateY(-20px);
    }
    10% {
        transform: translateY(-30px);
    }
    20% {
        transform: translateY(-40px);
    }
    30% {
        transform: translateY(-30px);
    }
    40% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-20px);
    }
    70% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(0px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Invitation */
.invitation__background{
    /* image size */
    position:relative;
    width:100%;
    background-image : linear-gradient(var(--color-dark-blossom) 0%, white 20%, white 80%);
    padding:20% 0 15% 0;
}
.page__title--blossom{
    margin:0 0 0 3%;
    width: 10%;
    float:left;
}
.page__title{
    width: 85%;
    float:right;
}

.invitation__message {
    margin:25% 0 20% 0;
    width: 100%;
}

.invitation__calendar{
    margin: 0 auto 20% auto;
    width:95%;
}

/* contact */
.contact__husband, .contact__wife{
    text-align: center;
}


/* contact us */
.to__main {
    width:53%;
}
.icon__call{
    width:15%;
}
.icon__sms {
    width:15%;
}

/* contact parents */
.contact__parents {
    margin: 10% 0 0 0;
}

.contact__parent--husband, .contact__parent--wife {
    width: 50%;
}
.contact__parent--husband {
    padding: 0 0 0 5%;
}
.contact__parent--wife {
    padding: 0 5% 0 0 ;
}

.to__parent {
    width: 100%;
    margin:0 auto 0 auto;
    display:block;
}
.to__father, .to__mother {
    text-align: center;
}
.to__name {
    width:80%;
    margin:0 auto 0 auto;
    display:block;
}
.icon__call--parent {
    width:30%;
}
.icon__sms--parent {
    width:30%;
}

/* gallery : customize the carousel (lightslider)*/
.gallery__background {
    margin:0 auto 0 auto;
    width: 90%;
}

.gallery__title {
    margin: 25% 0 7% 0;
}
#imageGallery, #imageGallery li {
    height: 700px !important;
}

#imageGallery img {
    padding:0 5px 0 5px;
    height:inherit;
    width:100%;
    object-fit: contain;
}
.lSGallery, .lSGallery li {
    height: 140px !important;
}
.lSGallery li {
    overflow:hidden;
    margin:0 auto;
}

.lSGallery img {
    width:100%;
    height:100% !important;
    object-fit:cover;
}

.lSAction > a {
    /* margin-top: -40% !important; */
    animation: darklight 2.5s infinite;
}

@keyframes darklight{
    0% {
        opacity: 0.3;
    }
    35% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

/* location */
.location__title{
    margin:35% 0 15% 0;
}

.location__background {
    margin:0 auto 0 auto;
    width: 90%;
}

.location__map{
    /* margin:0 0 5% 0; */
    width: 100%;
    height: 400px;
    border-radius: 10px 10px 0 0;
}

.location__site--map {
    padding: 5% 0 5% 0;
    margin: 0 0 5% 0;
    background-color:lightpink;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.location__kakao, .location__naver, .location__google {
    width: 12%;
    margin:0 5% 0 5%;
}

.location__wi {
    width: 80%;
}

.location__wi--call {
    width: 15%;
}

.location__transport {
    margin: 10% 0 0 0;
    width: 100%;
}

/* account */
.account__title {
    margin: 35% 0 15% 0;
}

.account__background {
    margin:0 auto 0 auto;
    width: 90%;
}

.husband__account, .wife__account {
    width:49%;
    cursor:pointer;
}

.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 1000;
    padding-top: 50px;
    justify-content:center;
    /* animation */
    visibility: hidden;
    opacity: 0;
    /* transition:all 0.1s; */
    
}
.white-bg {
    position:relative;
    margin: auto auto;
    width: 70%;
    /* height: 80%; */
    background: white;
    border-radius: 10px;
    padding: 30px;
} 
.show {
    /* animation */
    visibility: visible;
    opacity: 1;
}
.prevent__scroll{
    overflow:hidden;
}
.account__owner{
    width:15vw;
}
.account__num {
    width:50%;
}
.account__copy {
    cursor:pointer;
    width:20%;;
}
.display__none {
    display:none;
}
.account__person {
    margin-top: 5%;
}
.account__person > div:nth-child(2) {
    border:solid rgba(128, 128, 128, 0.3);
    border-radius:10px;
}

#modal__account--husband button, #modal__account--wife button {
    position:absolute;
    right: 20px;
    top:20px;
}

/* message */
.message__title {
    margin: 35% 0 15% 0;
}
.message__background {
    margin:0 auto 0 auto;
    width: 90%;
}
.message__btn--save {
    width: 40%;
    cursor:pointer;
}
.message__btn--more {
    width: 40%;
    cursor:pointer;
}
.message__btn--no {
    width: 60%;
}
#input__comment {
    resize: none;
}
#message__list .card {
    position:relative;
}
#message__list button{
    position:absolute;
    right: 10px;
    top: 10px;
}
#message__list .card-body {
    padding:5% 7%;
}

/* pad */
@media screen and (max-width : 1200px) { 
    .container {
        width: 80%;
        margin: 0 auto 0 auto;
    }
    /* pad > greeting */
    .greeting__background{
        /* image size */
        width:100%;
        height: 1300px;
    }
    .greeting__name {
        font-size: 4vw;
    }
    #imageGallery, #imageGallery li {
        height: 600px !important;
    }
    .lSGallery, .lSGallery li {
        height: 120px !important;
    }
    .location__map{
        height: 300px;
    }
    /* account */
    .black-bg {
        padding-top:15%;
    } 

    .account__num {
        width:60%;
    }
    .account__copy {
        width:25%;;
    }
} 

/* mobile */
@media screen and (max-width : 768px) { 
    .container {
        width: 98%;
        margin: 0 auto 0 auto;
    }
    /* mobile > greeting */
    .greeting__background{
        /* image size */
        width:100%;
        height: 800px;
    }
    .greeting__name {
        font-size: 6vw;
    }
    #imageGallery, #imageGallery li {
        height: 400px !important;
    }
    .lSGallery, .lSGallery li {
        height: 90px !important;
    }
    .location__map{
        height: 200px;
    }
    /* account */
    .black-bg {
        padding-top:30%;
    } 
    .white-bg {
        width: 90%;
    } 
    .account__owner{
        width:20vw;
    }
}